extends ./layout.jade

block contenido
    h1 Bienvenidos a Foto proyecto
    div(class="row")
        div(class="col-md-2")
            a(href="/login") Iniciar sesión
        div(class="col-md-2")
            a(href="/singup") Registrarse