html
    head
        title Mi primera página con express
    body
        h1= hola
        - var arreglo = [1,2,3,4,5];
        each item in arreglo
            p.
                Hola haz click en #[a(href="http://www.as.com") este link]
            